<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greenerlawn.greenerlawn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        >
        <activity
            android:name=".MainScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.main">

            <!--
             to make this the starting activity uncomment the intent filter and the content within,
             also comment it from any other classes which have the android.intent.action.MAIN
            -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TimePopUp"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.TimerPopup"></activity>
        <activity
            android:name=".ZoneSettings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.zones">
        </activity>
        <activity
            android:name=".SettingsMenu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.greenerlawn.greenerlawn.MainScreen" />
        </activity>

        <activity
            android:name=".Drawer"
            android:label="@string/title_activity_drawer"
            android:parentActivityName=".MainScreen"
            android:theme="@style/Theme.AppCompat.Light.drawer">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:theme="@style/Theme.AppCompat.Light.drawer"
                android:value="com.greenerlawn.greenerlawn.MainScreen" />
        </activity>
        <activity android:name=".SearchCity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.TimerPopup">
        </activity>

        <activity android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <activity android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
    </application>

</manifest>